@import "variable", "base";

.buttion{
     height: 60px; padding-left:35px; padding-right: 35px; border-radius: 35px;  display: inline-block; align-items: center; justify-content: center; font-size: 16px;   display: inline-flex; 
     font-family: var(--segoeUiSemibold);
    img{ margin-left: 5px; margin-right: 5px;}
    span{ display: inline-block; margin-left: 5px; margin-right: 5px; }
    
&.blue{
        background: $blue; color: $white;

        &:hover{
            background: $blueh; color: $white;
        }
}



&.white{
    background: $white; color: $black;

    &:hover{
        background: $gray; color: $black;
    }
}


&.strock{
    border: solid 1px $white; color: $white; background: transparent; 

    &:hover{
        background: $blueh; color: $white;
    }
}


}